* {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


:root {
    --kok: #495567;
    --seriy: #939CAA;
    --olov: #FCB72B;
}


.container {
    max-width: 1550px;
    margin: 0 auto;
}

/* ----------------------header------------------- */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.header_left a {
    color: var(--seriy);
}

.header_left h1 {
    color: var(--kok);
}


.header_left img {
    display: none;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    color: var(--seriy);
}


.header_right button {
    background-color: var(--olov);
    border: none;
    color: white;
    padding: 11px 22px;
}


.header_right button:hover {
    background-color: transparent;
    border: 1px solid var(--olov);
    color: var(--olov);
    transition: 300ms;
    cursor: pointer;
}


@media (max-width: 1080px) {


    .header_right button {
        display: none;
    }

    .header_left img {
        display: flex;
    }

    .header_burger {
        width: 20px;
        height: 16px;
    }


    header ul {
        display: none;
    }

    header {
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }

    .header_burger {
        gap: 200px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}



/* ------------hero--------------- */


.hero {
    background-image: url(images/hero2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}


.hero div {
    display: flex;
    padding: 50px 100px;
    font-size: 50px;
    color: white;
}

/* ----------------------cards------------------ */

.cards {
    padding-top: 100px;
}

.women {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.sc3txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
    width: 450px;
}

.sc3txt h1 {
    color: var(--kok);
    font-size: 45px;
}

.sc3txt p {
    color: var(--seriy);
}




@media (max-width: 1080px) {

    .women {
        flex-direction: column-reverse;
    }

    .women img {
        width: 400px;
        height: 310px;
    }

    .sc3txt {
        padding: 20px 0;
        width: 310px;
        text-align: center;
        align-items: center;
    }


    .sc3txt h1 {
        font-size: 30px;
    }
}

/* ------------------money-------------- */

.money {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}


.sc3txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 100px;
    width: 450px;
}

.sc3txt h1 {
    color: var(--kok);
    font-size: 45px;
}

.sc3txt p {
    color: var(--seriy);
}



@media (max-width: 1080px) {

    .money {
        flex-direction: column;
    }

    .money img {
        width: 400px;
        height: 310px;
    }

    .sc3txt {
        padding: 20px 0;
        width: 310px;
        text-align: center;
        align-items: center;
    }


    .sc3txt h1 {
        font-size: 30px;
    }
}


/* -----------------------sc3----------------- */


.sc3text {
    text-align: center;
    color: var(--kok);
    font-size: 40px;
    padding: 50px 0;
}



.values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}


.values div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    text-align: center;
    gap: 30px;
}



.values div h3 {
    color: var(--kok);
}

.values div p {
    color: var(--seriy);
}



@media (max-width: 1080px) {
    .sc3text {
        font-size: 30px;
    }

    .values {
        justify-content: center;
    }
}




/* -----------------------------------select------------- */



.select_option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
}

.custom-select {
    width: 750px;
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: whitesmoke;
}

.select-selected:hover {
    background-color: var(--olov);
    transition: 300ms;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--olov) transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--olov) transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--kok);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */
.select-items {
    position: absolute;
    background-color: whitesmoke;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-items:hover {
    transition: 300ms;
    background-color: var(--olov);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

select {
    color: var(--kok);
}


.options {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.select_option h1 {
    color: var(--kok);
    font-size: 40px;
}

.faq {
    font-size: 30px;
    color: var(--kok);
    padding: 50px 0;
    text-align: center;
}


@media (max-width: 1080px) {
    .select_option {
        flex-direction: column;
        align-items: center;
    }

    .select_option h1 {
        font-size: 30px;
    }

    .custom-select {
        margin: 0 auto;
        width: 350px;
    }

    .options {
        padding: 30px 0;
    }

    .faq {
        margin-top: 30px;
        padding: 0;
    }
}



/* -apps----------------- */

.apps {
    margin-top: 80px;
    background-color: #495567;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}



.apps div h1 {
    font-size: 48px;
    width: 450px;
    color: white;
}



@media (max-width: 1080px) {
    .apps {
        margin-top: 50px;
        flex-direction: column;
        gap: 40px;
    } 

    .apps div h1 {
        text-align: center;
        font-size: 30px;
        width: 310px;
    }


    .img_app {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
}


/* --------------footr------- */

footer {
    background-color: #333A44;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.footerul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

footer h1 {
    color: white;
}


footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: var(--seriy);
}


footer ul a {
    color: var(--seriy);
}


footer ul a:hover {
    opacity: 0.7;
    transition: 300ms;
}



.brands {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 1.9rem;
}



.brands i {
    color: var(--olov);
    cursor: pointer;
}


.brands i:hover {
    opacity: 0.7;
    transition: 300ms;
}


@media (max-width: 1080px) {
    footer {
        gap: 30px;
        flex-direction: column;
    }

    .footerul {
        flex-direction: column;
    }

    .footerul ul {
        align-items: center;
        flex-direction: column;
    }
}