* {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


:root {
    --kok: #495567;
    --seriy: #939CAA;
    --olov: #FCB72B;
}


.container {
    max-width: 1550px;
    margin: 0 auto;
}


/* ----------------------header------------------- */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.header_left a {
    color: var(--seriy);
}

.header_left h1 {
    color: var(--kok);
}


.header_left img {
    display: none;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    color: var(--seriy);
}


.header_right button {
    background-color: var(--olov);
    border: none;
    color: white;
    padding: 11px 22px;
}


.header_right button:hover {
    background-color: transparent;
    border: 1px solid var(--olov);
    color: var(--olov);
    transition: 300ms;
    cursor: pointer;
}


@media (max-width: 1080px) {


    .header_right button {
        display: none;
    }

    .header_left img {
        display: flex;
    }

    .header_burger {
        width: 20px;
        height: 16px;
    }


    header ul {
        display: none;
    }

    header {
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }

    .header_burger {
        gap: 200px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


/* ------------hero----------- */


.hero {
    background-image: url(images/herojon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.hero div {
    padding: 50px 100px;
    font-size: 40px;
    color: white;
}

@media (max-width: 1080px) {
    .hero div {
        padding: 65px 0;
        align-items: center;
        text-align: center;
        font-size: 32px;
    }
}




/* ----------location------------ */


.location {
    margin-top: 100px;
    background-size: cover;
    background-image: url(images/location.png);
    height: 540px;
    width: 1110px;
}


.location img {
    display: none;
}


.lc {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lc div {
    display: none;
    margin: 0 auto;
    text-align: center;
    color: var(--kok);
    background-color: #FCB72B26;
    width: 310px;
    height: 70px;
}


@media (max-width: 1080px) {

    .location {
        width: 100%;
        background-image: none;
        background-size: cover;
    }

    .location img {
        display: flex;
    }

    .lc div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mini {
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }
}



/* ------------------sc34-------- */


.div3ta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
}

.div3ta h1 {
    width: 350px;
    font-size: 50px;
    color: var(--kok);
}


.div3ta p {
    width: 450px;
    color: var(--seriy);
    text-align: center;
}


.div3ta button {
    background-color: var(--olov);
    border: none;
    color: white;
    padding: 14px 22px;
}



.div3ta button:hover {
    background-color: transparent;
    border: 1px solid var(--olov);
    color: var(--olov);
    transition: 300ms;
    cursor: pointer;
}



@media (max-width: 1080px) {
    .div3ta {
        flex-direction: column;
        gap: 20px;
    }

    .div3ta h1 {
        text-align: center;
        font-size: 32px;
    }

    .div3ta p {
        width: 310px;
        text-align: center;
    }
}

/* --------------aps----------- */

.apps {
    margin-top: 80px;
    background-color: #495567;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}



.apps div h1 {
    font-size: 48px;
    width: 450px;
    color: white;
}



@media (max-width: 1080px) {
    .apps {
        margin-top: 50px;
        flex-direction: column;
        gap: 40px;
    } 

    .apps div h1 {
        text-align: center;
        font-size: 30px;
        width: 310px;
    }


    .img_app {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
}


/* -footer-------------- */


footer {
    background-color: #333A44;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.footerul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

footer h1 {
    color: white;
}


footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: var(--seriy);
}


footer ul a {
    color: var(--seriy);
}


footer ul a:hover {
    opacity: 0.7;
    transition: 300ms;
}



.brands {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 1.9rem;
}



.brands i {
    color: var(--olov);
    cursor: pointer;
}


.brands i:hover {
    opacity: 0.7;
    transition: 300ms;
}


@media (max-width: 1080px) {
    footer {
        gap: 30px;
        flex-direction: column;
    }

    .footerul {
        flex-direction: column;
    }

    .footerul ul {
        align-items: center;
        flex-direction: column;
    }
}